* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}


body {
  display: flex;
  flex-direction: column;
  min-width: 99vw;
  min-height: 100vh;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding: 0 156px;
    margin: 0 auto;
  }
}
/* .container {
max-width: 1440px;
} */

.form {
  display: flex;
  /* flex-direction: column; */
  margin: 36px auto 32px;
  width: 371px;
  height: 40px;
  gap: 8px;
}

.name-input {
  border: 1px solid #808080;
  border-radius: 4px;
width: 272px;
height: 40px;
background: #fff;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
outline: none;
padding-left: 16px;
}

.name-input:hover {
  border-color: #000;
}

.name-input:focus {
  border-color: #4e75ff;
}
.input-wrapper {
  position: relative;
  flex: 1;
}
.count-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #888;
}

.input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
transition: background 250ms;
}

.input-btn:hover {
  background: #6c8cff;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}

.gallery-item {
  width: 310px;
  height: 200px;
  border: 1px solid #808080;
}

.gallery-item a {
  height: 100%;
  display: block;
  text-decoration: none;
  font-family: inherit;
}

.gallery-image {
  height: 156px;
}
.description {
  display: flex;
  justify-content: space-evenly;
}
.descr-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}
.descr-item-title {
  font-weight: 600;
  line-height: 1.33;
  font-size: 12px;
  line-height: 2;
  color: #2e2f42;
}
.descr-item-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04;
  color: #2e2f42;
}

.sl-overlay {
  background: #2e2f42 !important;
}
.sl-next,
.sl-prev,
.sl-close,
.sl-counter {
  color: #fff !important;
}
.sl-caption {
color: #fff;
background: #000;
}

.iziToast {
  width: 436px !important;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: none;
  margin: 0 auto 68px;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #e78b6f, 24px 0 #FFF;
  }
  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
  }
}

.next-page-btn {
  display: none;
  margin: 0 auto 44px;
  border: none;
  border-radius: 8px;
padding: 8px 16px;
width: 125px;
height: 40px;
background: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
transition: background 250ms;
}
.next-page-btn:hover {
  background: #6c8cff;
}
